<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.cordova.social" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Cordova Social</name>
    <DESCRIPTION>Cordova Social Plugin Example</DESCRIPTION>
    <js-module name="CordovaSocial" src="www/CordovaSocial.js">
        <clobbers target="cordova.plugins.CordovaSocial"/>
    </js-module>
    <platform name="android">
        <framework src="com.facebook.android:facebook-android-sdk:4.+"/>
        <framework src="com.google.gms:google-services:3.0.0"/>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaSocial">
                <param name="android-package" value="org.cordova.social.CordovaSocial"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="res/values/strings.xml">
            <string name="facebook_app_id">1771878502828888</string>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="application">
            <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
            <provider android:authorities="com.facebook.app.FacebookContentProvider1771878502828888"
                      android:name="com.facebook.FacebookContentProvider"
                      android:exported="true"/>
        </config-file>
        <source-file src="src/android/CordovaSocial.java" target-dir="src/org/cordova/social"/>
    </platform>
</plugin>